# ------------------------------

# Python

# ------------------------------

**pycache**/
*.py[cod]
*$py.class

# ------------------------------

# Virtual Environment

# ------------------------------

venv/
env/
ENV/

# ------------------------------

# Environment Variables

# ------------------------------

.env
.env.*

# ------------------------------

# Secrets / Credentials

# ------------------------------

credentials.json
service_account.json
token.pickle

# ------------------------------

# Logs

# ------------------------------

*.log

# ------------------------------

# OS Files

# ------------------------------

.DS_Store
Thumbs.db

# ------------------------------

# VS Code

# ------------------------------

.vscode/

# ------------------------------

# Temporary Files

# ------------------------------

*.tmp
*.temp
